/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lora-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lora-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lora-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lora-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lora-v23-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
}

/* lora-600 - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/lora-v23-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lora-v23-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lora-v23-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora-v23-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lora-v23-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lora-v23-latin-600.svg#Lora') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: {{ .Site.Params.bodyTextSize }};
  line-height: 1.5;
  color: {{ .Site.Params.textColor }};
  background: {{ .Site.Params.backgroundColor }};
  height: 100vh;
  position: relative;
}

a {
  color: {{ .Site.Params.textColor }};
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: {{ .Site.Params.highlightColor }};
  outline: none;
}

p {
  margin-bottom: 1.5em;
  color: {{ .Site.Params.textColor }};
}

h1, h2, h3, h4, h5, h6 {
  color: {{ .Site.Params.textColor }};
  font-family: 'Lora', serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: {{ .Site.Params.highlightColor }};
  background: {{ .Site.Params.backgroundColor }};
}

::-moz-selection {
  color: {{ .Site.Params.highlightColor }};
  background: {{ .Site.Params.backgroundColor }};
}

::selection {
  color: {{ .Site.Params.highlightColor }};
  background: {{ .Site.Params.backgroundColor }};
}

/*
BOOTSTRAP EDGES OVERRIDES
*/

.edge--bottom {
  position: relative;
  z-index: 1;
}
.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.edge--bottom:after {
  bottom: 0;
  transform-origin: 100%;
}

.edge--bottom--reverse {
  position: relative;
  z-index: 1;
}
.edge--bottom--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.edge--bottom--reverse:after {
  bottom: 0;
  transform-origin: 0 100%;
}

.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.edge--top:before {
  top: 0;
  transform-origin: 100% 0;
}

.edge--top--reverse {
  position: relative;
  z-index: 1;
}
.edge--top--reverse:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.edge--top--reverse:before {
  top: 0;
  transform-origin: 0 0;
}

.edge--both {
  position: relative;
  z-index: 1;
}
.edge--both:before, .edge--both:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.edge--both:before {
  top: 0;
  transform-origin: 100% 0;
}
.edge--both:after {
  bottom: 0;
  transform-origin: 100%;
}

.edge--both--reverse {
  position: relative;
  z-index: 1;
}
.edge--both--reverse:before, .edge--both--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.edge--both--reverse:before {
  top: 0;
  transform-origin: 0 0;
}
.edge--both--reverse:after {
  bottom: 0;
  transform-origin: 0 0;
}

/*
BACKGROUND
*/

body:after{
  content:"";
  position:fixed; /* stretch a fixed position to the whole screen */
  top:0;
  height:100vh; /* fix for mobile browser address bar appearing disappearing */
  left:0;
  right:0;
  z-index:-1; /* needed to keep in the background */
  background: url(../images/{{ .Site.Params.background.image }}) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
}

#pixies-background-header {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  height: 100vh;
  position: relative;
}

#pixies-background-header .gotoSection {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -40px;
  background: transparent;
  z-index: 1;
  width: 80px;
  height: 80px;
  font-size: {{ .Site.Params.gotoSectionIconSize }};
  padding-top: 0px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background-color: {{ .Site.Params.highlightColor }};
  color: {{ .Site.Params.backgroundColor }};  
}

#pixies-background-header .gotoSection:hover, #footer .gotoSection:focus {
  bottom: 25px;
  text-decoration: none !important;
  background-color: {{ .Site.Params.textColor }};
}

#pixies-background-footer {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  height: 100vh;
  position: relative;
}

/*
HEADER SECTION
*/

#pixies-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  #pixies-header {
    margin-top: 0;
    background: transparent;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  }
  #pixies-header #navbar li a {
    color: rgba(0, 0, 0, 0.5) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #pixies-header #navbar li a:hover {
    color: {{ .Site.Params.highlightColor }} !important;
  }
  #pixies-header #navbar li a span:before {
    background: transparent !important;
  }
  #pixies-header #navbar li.active a {
    background: transparent;
    background: none;
    color: {{ .Site.Params.highlightColor }} !important;
  }
  #pixies-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
#pixies-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#pixies-header #navbar li a {
  font-family: 'Lora', serif;
  color: {{ .Site.Params.textColor }};
  opacity: .8;
  position: relative;
  font-size: {{ .Site.Params.menuTextSize }};
  font-weight: 400;
}
#pixies-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#pixies-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: {{ .Site.Params.highlightColor }};
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#pixies-header #navbar li a:hover {
  color: {{ .Site.Params.highlightColor }} ;
}
#pixies-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#pixies-header #navbar li.active a {
  background: transparent;
  background: none;
  color: {{ .Site.Params.highlightColor }};
}
#pixies-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#pixies-header .navbar-brand {
  float: left;
  display: block;
  padding: 0;
  visibility: hidden;
}
#pixies-header.navbar-fixed-top {
  position: fixed !important;
  background: {{ .Site.Params.backgroundColor }};
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}
#pixies-header.navbar-fixed-top .navbar-brand {
  visibility: visible;
  vertical-align: middle;
}
#pixies-header.navbar-fixed-top #navbar li a {
  color: {{ .Site.Params.textColor }};
  opacity 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#pixies-header.navbar-fixed-top #navbar li a:hover {
  color: {{ .Site.Params.highlightColor }};
}
#pixies-header.navbar-fixed-top #navbar li.active a {
  background: transparent;
  background: none;
  color: {{ .Site.Params.highlightColor }};
}
#pixies-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: {{ .Site.Params.highlightColor }};
}
#pixies-header .navbar-default {
  border: transparent;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #pixies-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
#pixies-header a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

/*
HOME SECTION
*/

#pixies-home {
  background: url(../images/{{ .Site.Params.hero.image }}) center center;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  color: {{ .Site.Params.whiteColor }};
  overflow: hidden;
}

#pixies-home .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: .6;
  /* IE9, iOS 3.2+ */
  /*background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);*/
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, {{ .Site.Params.homeColor1 }}), color-stop(1, {{ .Site.Params.homeColor2 }}));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, {{ .Site.Params.homeColor1 }} 0%, {{ .Site.Params.homeColor2 }} 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, {{ .Site.Params.homeColor1 }} 0%, {{ .Site.Params.homeColor2 }} 100%);
  background-image: -ms-repeating-linear-gradient(top left, {{ .Site.Params.homeColor1 }} 0%, {{ .Site.Params.homeColor2 }} 100%);
}

#pixies-home, #pixies-home .text-wrap {
  height: 80vh;
}
#pixies-home .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}
#pixies-home .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#pixies-home .text-inner a {
  color: {{ .Site.Params.backgroundColor }};
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#pixies-home .text-inner a:hover, #pixies-home .text-inner a:active, #pixies-home .text-inner a:focus {
  text-decoration: none;
  color: {{ .Site.Params.backgroundColor }};
  border-bottom: 1px dashed {{ .Site.Params.whiteColor }};
}
#pixies-home .text-inner h1 {
  font-size: {{ .Site.Params.heroTextSizeH1 }};
  color: {{ .Site.Params.backgroundColor }};
  margin: 0 0 20px 0;
}
#pixies-home .text-inner h2 {
  font-size: {{ .Site.Params.heroTextSizeH2 }};
  line-height: 38px;
  font-weight: 400;
  color: {{ .Site.Params.backgroundColor }};
  margin: 0;
}

/*
INTRO SECTION
*/

#pixies-intro {
  position: relative;
  bottom: 0;
  margin-top: -150px;
  z-index: 10;
  padding-bottom: 12em;
}
@media screen and (max-width: 768px) {
  #pixies-intro {
    padding-bottom: 12em;
  }
}
#pixies-intro > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}
#pixies-intro .pixies-block {
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: {{ .Site.Params.introTextSize }};
  min-height: 400px;
  vertical-align: middle;
  padding: 40px;
  background: {{ .Site.Params.whiteColor }};
  -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  z-index: 7;
  flex-grow: 1;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 768px) {
  #pixies-intro .pixies-block {
    width: 100%;
  }
}
#pixies-intro .pixies-block > .overlay-darker {
  z-index: 8;
  opacity: .5;
  background: #474747;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#pixies-intro .pixies-block > .overlay {
  background: {{ .Site.Params.backgroundColor }};
  opacity: 1;
  z-index: 9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#pixies-intro .pixies-block > .pixies-text {
  position: relative;
  z-index: 10;
}
#pixies-intro .pixies-block > .pixies-text .pixies-intro-icon {
  font-size: {{ .Site.Params.introIconSize }};
  color: {{ .Site.Params.highlightColor }};
  margin-bottom: 30px;
  display: block;
}
#pixies-intro .pixies-block h2 {
  font-size: {{ .Site.Params.introTextSizeH2 }};
  font-weight: 400;
}
#pixies-intro .pixies-block:hover > .overlay, #pixies-intro .pixies-block:focus > .overlay {
  opacity: 0;
  z-index: 9;
}
#pixies-intro .pixies-block:hover > .pixies-text, #pixies-intro .pixies-block:focus > .pixies-text {
  color: {{ .Site.Params.backgroundColor }};
}
#pixies-intro .pixies-block:hover > .pixies-text .pixies-intro-icon, #pixies-intro .pixies-block:focus > .pixies-text .pixies-intro-icon {
  color: {{ .Site.Params.backgroundColor }};
}
#pixies-intro .pixies-block:hover h2, #pixies-intro .pixies-block:focus h2 {
  color: {{ .Site.Params.backgroundColor }};
}
#pixies-intro .pixies-block:hover p, #pixies-intro .pixies-block:focus p {
  color: {{ .Site.Params.backgroundColor }};
}
#pixies-intro .pixies-block:hover .btn, #pixies-intro .pixies-block:focus .btn {
  border: 2px solid {{ .Site.Params.backgroundColor }} !important;
  background: transparent;
}
#pixies-intro .pixies-block:hover .btn:hover, #pixies-intro .pixies-block:focus .btn:hover {
  background: {{ .Site.Params.highlightColor }} !important;
  border: 2px solid {{ .Site.Params.highlightColor }} !important;
}

/*
GENERAL PADDING
*/

#pixies-services, #pixies-testimonials, #pixies-work, #pixies-contact {
  padding: 4em 0;
}
@media screen and (max-width: 768px) {
  #pixies-services, #pixies-testimonials, #pixies-work, #pixies-contact {
    padding: 2em 0;
  }
}


/*
SERVICES SECTION
*/

#pixies-services {
  /* IE9, iOS 3.2+ */
  /*background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);*/
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, {{ .Site.Params.servicesColor1 }}), color-stop(1, {{ .Site.Params.servicesColor2 }}));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, {{ .Site.Params.servicesColor1 }} 0%, {{ .Site.Params.servicesColor2 }} 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, {{ .Site.Params.servicesColor1 }} 0%, {{ .Site.Params.servicesColor2 }} 100%);
  background-image: -ms-repeating-linear-gradient(top left, {{ .Site.Params.servicesColor1 }} 0%, {{ .Site.Params.servicesColor2 }} 100%);
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
}

#pixies-services:before {
  top: 0;
  margin-top: -35px;
}
#pixies-services:after {
  bottom: 0;
  margin-bottom: -35px;
}
#pixies-services .pixies-service {
  padding-right: 30px;
}
#pixies-services h3 {
  color: {{ .Site.Params.backgroundColor }};
}

#pixies-services p {
  color: {{ .Site.Params.backgroundColor }};
  font-size: {{ .Site.Params.servicesTextSize }};
}

#pixies-services .icon {
  font-size: {{ .Site.Params.servicesIconSize }};
  font-weight: 900 !important;
  margin-bottom: 30px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#pixies-services .icon:before {
  color: {{ .Site.Params.backgroundColor }};
}
#pixies-services .section-heading h2 {
  color: {{ .Site.Params.backgroundColor }};
}
#pixies-services .section-heading h2.left-border:after {
  background: {{ .Site.Params.backgroundColor }};
}

/*
TESTIMONIAL SECTION
*/

#pixies-testimonials {
  background-color: {{ .Site.Params.backgroundColor }};
}

#pixies-testimonials .box-testimony {
  margin-bottom: 2em;
  float: left;
}
#pixies-testimonials .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 30px;
  background: {{ .Site.Params.highlightColor }};
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, {{ .Site.Params.testimonialColor1 }}), color-stop(1, {{ .Site.Params.testimonialColor2 }}));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, {{ .Site.Params.testimonialColor1 }} 0%, {{ .Site.Params.testimonialColor2 }} 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, {{ .Site.Params.testimonialColor1 }} 0%, {{ .Site.Params.testimonialColor2 }} 100%);
  background-image: -ms-repeating-linear-gradient(top left, {{ .Site.Params.testimonialColor1 }} 0%, {{ .Site.Params.testimonialColor2 }} 100%);
  font-size: {{ .Site.Params.testimonialTextSize }};
  font-weight: 400;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
}
#pixies-testimonials .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 10px solid {{ .Site.Params.textColor }};
  border-top-color: {{ .Site.Params.backgroundColor }};
  border-top-color: {{ .Site.Params.highlightColor }};
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  color: {{ .Site.Params.highlightColor }};
}
#pixies-testimonials .box-testimony blockquote p {
  font-style: italic;
  color: {{ .Site.Params.backgroundColor }};
}

#pixies-testimonials .box-testimony .icon {
  font-size: {{ .Site.Params.testimonialIconSize }};
  font-weight: 900 !important;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#pixies-testimonials .box-testimony .author {
  line-height: 20px;
  color: {{ .Site.Params.textColor }};
  font-size: {{ .Site.Params.testimonialAuthorTextSize }};
  margin-left: 20px;
  font-weight: 400;
}
#pixies-testimonials .box-testimony .author p {
  float: left;
  margin-top: 15px;
}

/*
WORK SECTION
*/

#pixies-work {
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  /* IE9, iOS 3.2+ */
  /*background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);*/
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, {{ .Site.Params.workColor1 }}), color-stop(1, {{ .Site.Params.workColor2 }}));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, {{ .Site.Params.workColor1 }} 0%, {{ .Site.Params.workColor2 }} 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, {{ .Site.Params.workColor1 }} 0%, {{ .Site.Params.workColor2 }} 100%);
  background-image: -ms-repeating-linear-gradient(top left, {{ .Site.Params.workColor1 }} 0%, {{ .Site.Params.workColor2 }} 100%);
}
#pixies-work a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}
#pixies-work a:hover {
  color: {{ .Site.Params.backgroundColor }};
}
#pixies-work .section-heading h2 {
  color: {{ .Site.Params.backgroundColor }};
}
#pixies-work .section-heading h2:after {
  background: {{ .Site.Params.backgroundColor }};
}
#pixies-work .section-heading h3 {
  color: {{ .Site.Params.backgroundColor }};
}
#pixies-work p {
  color: {{ .Site.Params.backgroundColor }};
  font-size: {{ .Site.Params.copyrightTextSize }};
}
#pixies-work .pixies-project-item {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  background: {{ .Site.Params.backgroundColor }};
  overflow: hidden;
  z-index: 9;
  margin-bottom: 30px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#pixies-work .pixies-project-item img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#pixies-work .pixies-project-item .pixies-text {
  padding: 10px 20px;
}
#pixies-work .pixies-project-item .pixies-text h2, #pixies-work .pixies-project-item .pixies-text span {
  text-decoration: none !important;
}
#pixies-work .pixies-project-item .pixies-text h2 {
  font-size: {{ .Site.Params.workItemTextSizeH2 }};
  font-weight: 600;
  margin: 0;
}
#pixies-work .pixies-project-item .pixies-text span {
  /*color: {{ .Site.Params.backgroundColor }};*/  #TODO#
  font-size: {{ .Site.Params.workItemTextSizeSpan }};
  font-weight: 400;
}

#pixies-work .pixies-project-item:hover, #pixies-work .pixies-project-item:focus {
  -webkit-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  top: -15px;
}

#pixies-work .pixies-project-item:hover img, #pixies-work .pixies-project-item:focus img {
  opacity: .7;
}

#pixies-work .pixies-project-item:hover h2, #pixies-work .pixies-project-item:hover span, #pixies-work .pixies-project-item:focus h2, #pixies-work .pixies-project-item:focus span {
  text-decoration: none !important;
}

/*
FORMS
*/

.form-control {
  box-shadow: none;
  background: {{ .Site.Params.backgroundColor }};
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: {{ .Site.Params.formTextSize }};
  font-weight: 400;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: {{ .Site.Params.highlightColor }};
}

/*
CONTACT SECION*/

#pixies-contact {
  padding-bottom: 0;
  background-color: {{ .Site.Params.backgroundColor }};
}

#pixies-contact .pixies-contact-info {
  padding: 0;
  margin: 0 0 1.5em 0;
}

#pixies-contact .pixies-contact-info li {
  position: relative;
  padding: 0;
  margin: 0 0 1.5em 0;
  padding-left: 50px;
  list-style: none;
}

#pixies-contact .pixies-contact-info li i {
  position: absolute;
  top: .2em;
  left: 0;
}

/*
SECTIONS
*/

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  clear: both;
}
.section-heading h2 {
  margin: 0 0 30px 0;
  font-size: {{ .Site.Params.sectionHeadingTextSizeH2 }};
  font-weight: 400;
  color: {{ .Site.Params.textColor }};
  text-transform: uppercase;
  position: relative;
  display: block;
  padding-bottom: 20px;
  line-height: 1.5;
}
.section-heading h2.left-border:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: {{ .Site.Params.highlightColor }};
  left: 0%;
  margin-left: 0px;
  bottom: 0;
}
.section-heading h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: {{ .Site.Params.highlightColor }};
  left: 50%;
  margin-left: -40px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: {{ .Site.Params.sectionHeadingTextSizeH2Mobile }};
  }
}
.section-heading h3 {
  font-weight: 400;
  line-height: 1.5;
  color: {{ .Site.Params.textColor }};
  font-size: {{ .Site.Params.sectionHeadingTextSizeH3 }};
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: {{ .Site.Params.sectionHeadingTextSizeH3Mobile }} !important;
    line-height: 34px;
  }
}


/*
NAVIGATION
*/

.pixies-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.pixies-nav-toggle.active i::before, .pixies-nav-toggle.active i::after {
  background: {{ .Site.Params.highlightColor }};
}
.pixies-nav-toggle:hover, .pixies-nav-toggle:focus, .pixies-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.pixies-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: {{ .Site.Params.highlightColor }};
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: {{ .Site.Params.highlightColor }};
  transition: all .2s ease-out;
}
.pixies-nav-toggle i::before, .pixies-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: {{ .Site.Params.highlightColor }};
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.pixies-nav-toggle i::before {
  top: -7px;
}

.pixies-nav-toggle i::after {
  bottom: -7px;
}

.pixies-nav-toggle:hover i::before {
  top: -10px;
}

.pixies-nav-toggle:hover i::after {
  bottom: -10px;
}

.pixies-nav-toggle.active i {
  background: transparent;
}

.pixies-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.pixies-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.pixies-nav-toggle {
  position: absolute;
  top: 2px;
  right: 0px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 25px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .pixies-nav-toggle {
    display: block;
  }
}

/*
FOOTER
*/

#footer {
  padding: 20px 0 0 0;
  color: {{ .Site.Params.textColor }};
  position: relative;
  margin: 0 0 0 0;
}
#footer .gotop {
  position: absolute;
  top: 0px;
  left: 100%;
  margin-left: -100px;
  background: transparent;
  z-index: 8;
  width: 60px;
  height: 60px;
  font-size: {{ .Site.Params.goTopIconSize }};
  padding-top: 0px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background-color: {{ .Site.Params.highlightColor }};
  color: {{ .Site.Params.backgroundColor }};  
}
#footer .gotop:hover, #footer .gotop:focus {
  top: -5px;
  text-decoration: none !important;
  background-color: {{ .Site.Params.textColor }};
}
#footer .copyright {
  font-size: {{ .Site.Params.copyrightTextSize }} !important;
  margin: 0;
  padding: 0 0 30px 0;
}

#footer .copyright p {
  margin: 0;
  padding: 0;
}

/*
BUTTONS
*/

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover, .btn:active, .btn:focus {
  outline: none;
}

.btn.btn-primary {
  background: {{ .Site.Params.highlightColor }};
  color: {{ .Site.Params.backgroundColor }};
  border: none !important;
  border: 2px solid transparent !important;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: {{ .Site.Params.highlightColor }};
}

.btn:hover, .btn:active, .btn:focus {
  background: {{ .Site.Params.textColor }} !important;
  color: {{ .Site.Params.backgroundColor }} !important;
  outline: none !important;
}

.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

/*
SOCIAL
*/

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: {{ .Site.Params.socialIconSize }};
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: {{ .Site.Params.highlightColor }};
  color: {{ .Site.Params.backgroundColor }};
}
.social li a.social-circle {
  background: {{ .Site.Params.highlightColor }};
  color: {{ .Site.Params.backgroundColor }};
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: {{ .Site.Params.textColor }} !important;
}
.social.social-box a {
  background: {{ .Site.Params.highlightColor }};
  color: {{ .Site.Params.backgroundColor }};
}
.social.social-circle a {
  background: {{ .Site.Params.highlightColor }};
  color: {{ .Site.Params.backgroundColor }};
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

/*
MAGNIFIC
*/

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/*
ANIMATION
*/

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

/*
ROWS
*/

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

/*
ANIMATION
*/

.pixies-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*
ERROR PAGE
*/

#pixies-error {
  background: url(../images/{{ .Site.Params.errorpage.image }}) center center;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  color: {{ .Site.Params.whiteColor }};
  overflow: hidden;
}

#pixies-error .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: .8;
  /* IE9, iOS 3.2+ */
  /*background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);*/
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, {{ .Site.Params.errorColor1 }}), color-stop(1, {{ .Site.Params.errorColor2 }}));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, {{ .Site.Params.errorColor1 }} 0%, {{ .Site.Params.errorColor2 }} 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, {{ .Site.Params.errorColor1 }} 0%, {{ .Site.Params.errorColor2 }} 100%);
  background-image: -ms-repeating-linear-gradient(top left, {{ .Site.Params.errorColor1 }} 0%, {{ .Site.Params.errorColor2 }} 100%);
}

#pixies-error, #pixies-error .text-wrap {
  height: 100vh;
}
#pixies-error .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}

#pixies-error .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#pixies-error .text-inner h1 {
  font-size: {{ .Site.Params.pixiesErrorTextSizeH1 }};
  color: {{ .Site.Params.backgroundColor }};
  margin: 0 0 0.5em 0;
}

#pixies-error .text-inner h2 {
  font-size: {{ .Site.Params.pixiesErrorTextSizeH2 }};
  color: {{ .Site.Params.backgroundColor }};
  margin: 0 0 2em 0;
}