<section id="pixies-insta" data-section="insta">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">{{ with .Site.Params.insta.title }}{{ . }}{{ end }}</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>{{ with .Site.Params.insta.description }}{{ . | markdownify }}{{ end }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="insta" class="row row-bottom-padded-sm">
        </div>
        <div class="row">
            <div class="col-md-12 text-center to-animate">
                <p>{{ with .Site.Params.insta.footertext }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
    </div>
</section>
