	<section id="pixies-intro">
		<div class="container">
			<div class="row row-bottom-padded-lg">
				{{ range .Site.Params.intro.item }}
				<div class="pixies-block to-animate" style="background-image: url(/images/{{ .img }});">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="pixies-text">
						<i class="pixies-intro-icon {{ .icon }}"></i>
						<h2>{{ .title }}</h2>
						<p>{{ .description }}</p>
						{{ if .button}}
						<p><a href="#" data-nav-section="{{ .navigation }}" class="btn btn-primary  js-gotoSection">{{ .button}}</a></p>
						{{ end }}
					</div>
				</div>
				{{ end }}
			</div>
		</div>
	</section>
