	<section id="pixies-work" data-section="work">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.work.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.work.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
			{{ range .Site.Data.instagram }}
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<a href="/images/{{ .localImageFilenamePrefix }}.webp" class="pixies-project-item image-popup to-animate">
						<picture>
							<source type = "image/webp" media="(min-width: 960px)" srcset="/images/{{ .localImageFilenamePrefix }}-960w.webp">							<source type = "image/jpeg" srcset="/images/{{ .localImageFilenamePrefix }}.jpg">
							<source type = "image/webp" media="(max-width: 959px)" srcset="/images/{{ .localImageFilenamePrefix }}-640w.webp">							<source type = "image/jpeg" srcset="/images/{{ .localImageFilenamePrefix }}.jpg">
							<source type = "image/webp" media="(max-width: 480px)" srcset="/images/{{ .localImageFilenamePrefix }}-480w.webp">							<source type = "image/jpeg" srcset="/images/{{ .localImageFilenamePrefix }}.jpg">
							<source type = "image/webp" media="(max-width: 320px)" srcset="/images/{{ .localImageFilenamePrefix }}-320w.webp">							<source type = "image/jpeg" srcset="/images/{{ .localImageFilenamePrefix }}.jpg">
							<img src="/images/{{ .localImageFilenamePrefix }}.jpg" alt="{{ .caption }}" class="img-responsive">
						</picture>
					</a>
				</div>
				<div class="clearfix visible-sm-block"></div>
			{{ end }}
			</div>
			<div class="row">
				<div class="col-md-12 text-center to-animate">
					<p>{{ with .Site.Params.work.footertext }}{{ . | markdownify }}{{ end }}</p>
				</div>
			</div>
		</div>
	</section>
