	<section id="pixies-work" data-section="work">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.work.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.work.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
			{{ range .Site.Data.instagram }}
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<a href="/images/{{ .localImageFilenamePrefix }}.jpg" class="pixies-project-item image-popup to-animate">
						<picture>
							<source type="image/webp" sizes="(min-width: 1200px) 360px, (min-width: 1000px) 293px, (min-width: 780px) 345px, calc(98.26vw - 25px)" srcset="/images/{{ .localImageFilenamePrefix }}-360.webp 360w,/images/{{ .localImageFilenamePrefix }}-720.webp 720w,/images/{{ .localImageFilenamePrefix }}-1024.webp 1024w,/images/{{ .localImageFilenamePrefix }}-1250.webp 1250w,/images/{{ .localImageFilenamePrefix }}-1440.webp 1440w">
							<source type="image/jpeg" sizes="(min-width: 1200px) 360px, (min-width: 1000px) 293px, (min-width: 780px) 345px, calc(98.26vw - 25px)" srcset="/images/{{ .localImageFilenamePrefix }}-360.jpg 360w,/images/{{ .localImageFilenamePrefix }}-720.jpg 720w,/images/{{ .localImageFilenamePrefix }}-1024.jpg 1024w,/images/{{ .localImageFilenamePrefix }}-1250.jpg 1250w,/images/{{ .localImageFilenamePrefix }}-1440.jpg 1440w">
							<img src="/images/{{ .localImageFilenamePrefix }}.jpg" alt="{{ .caption }}" class="img-responsive">
						</picture>
					</a>
				</div>
				<!--
				<div class="clearfix visible-sm-block"></div>
				-->
			{{ end }}
			</div>
			<div class="row">
				<div class="col-md-12 text-center to-animate">
					<p>{{ with .Site.Params.work.footertext }}{{ . | markdownify }}{{ end }}</p>
				</div>
			</div>
		</div>
	</section>
