<!DOCTYPE html>
<html>
  <head>
    {{ partial "head.html" .}}
  </head>
  <body>
    <section id="pixies-error">
      <div class="gradient"></div>
      <div class="container">
        <div class="text-wrap">
          <div class="text-inner">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1 class="to-animate">{{ with .Site.Params.errorpage.title }}{{ . | markdownify }}{{ end }}</h1>
                <h2 class="to-animate">{{ with .Site.Params.errorpage.subtitle }}{{ . | markdownify }}{{ end }}</h2>
                <p><a href="/" class="to-animate btn btn-primary">{{ with .Site.Params.errorpage.button }}{{ . | markdownify }}{{ end }}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{ partial "js.html" .}}
  </body>
</html>