<!DOCTYPE html>
<html>
    <head>
      {{ partial "head.html" .}}
    </head>
    <body>
      {{ partial "nav.html" .}}
      <section id="pixies-error">
        <div class="container">
          <div class="text-wrap">
            <div class="text-inner">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h1>{{ with .Site.Params.errorpage.heading }}{{ . | markdownify }}{{ end }}</h2>
                  <p><a href="/" class="btn btn-primary">{{ .Site.Params.errorpage.details }}</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </body>
    {{ partial "js.html" .}}
  </html>